/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*                                      *   _            ______   _______             *          _______
                    |\    /|     /\     |  |  \   |     |            |      \     /   |          |
                    | \  / |    /  \    |  |   \  |      \_____      |       \   /    |          |______
                    |  \/  |   /____\   |  |    \ |            \     |        \ /     |          |
                    |      |  /      \  |  |     \|      ______|     |         |      |_______   |______
*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
body {
    background-image: url("../resources/pictures/background.jpg");
    max-width: 1200px;
    background-attachment: fixed;
    height: 100%;
    font-family: MontserratBold, serif;
}
/*--------------------------------------------------------------------------------------------------------------------*/
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Fonts -------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: MontserratBold;
    src: url('fonts/Montserrat-Bold.otf');
}
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: MontserratThin;
    src: url('fonts/Montserrat-Thin.otf');
}
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: Oswald;
    src: url('fonts/oswald.regular.ttf');
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* HEADER------------------------------------------------------------------------------------------------------------ */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
header {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromTop;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Hide the phone header */
.phone-header {
    display: none;
    border-bottom: 1px solid lightgray;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Add a black background color to the top navigation */
.topnav {
    display: block;
    overflow: hidden;
    font-weight: bold;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Style the links inside the navigation bar */
.topnav a {
    color: black;
    font-weight: bolder;
    text-align: center;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Change the color of links on hover */
.topnav a:hover {
    color: rgb(253, 59, 76);
    opacity: 0.3;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Add a color to the active/current link */
.topnav a.active {
    color: rgb(253, 59, 76);
}
/*--------------------------------------------------------------------------------------------------------------------*/
.def-img {
    width: 100%;
    height: auto;
    margin-top: -8px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.image{
    display: block;
    width: 65%;
    height: 500px;
    border: solid 1px lightgray;
    margin-left: 5px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Main content block ------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.content {
    margin: auto;
    background: white;
    -webkit-box-shadow: 0 -20px 20px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 -20px 20px 0 rgba(0,0,0,0.4);
    box-shadow: 0 -20px 20px 0 rgba(0,0,0,0.4);
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* THE BODY BETWEEN THE HEADER AND THE FOOTER */
.container{
    padding: 10px;
    animation-name: zoom;
    animation-duration: 0.6s;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Navigation Menu ---------------------------------------------------------------------------------------------------*/
.left-menu {
    margin-top: 20px;
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    box-shadow: gray 2px 2px 2px;
    width: 20%;
    padding: 10px;
    float: left;
    top: 10px;
    position: sticky;
    /* annimation */
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.menuitem {
    font-size: 17px;
    text-align: center;
    font-family: "Berlin Sans FB", serif;
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.menuitem:hover {
    color: royalblue;
}
.sub-content{
    margin-left: 25%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Title and Details -------------------------------------------------------------------------------------------------*/
.title {
    font-family: "Agency FB", serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(253, 59, 76);
    padding: 15px 10px;
    text-transform: uppercase;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.title-logo {
    padding-right: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Show/Hide Icon */
.sh-icon{
    float: right;
    cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.sh-icon:hover{
    opacity: 0.4;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.sh-sep{
    border-top: 2px solid lightgray ;
    display: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.details{
    font-family: "Arial Narrow", serif;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 2px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;

}
/*--------------------------------------------------------------------------------------------------------------------*/
.details > * {
    text-align: justify;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Images Grids ------------------------------------------------------------------------------------------------------*/

.row {
    display: block;
    flex-wrap: wrap;
    text-align: center;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Create two equal columns that sits next to each other */
.column {
    flex: 100%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 45%;
    height: 45%;
}

.column img:hover {
    opacity: 0.7;
    cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.date {
    text-align: right;
    margin-left: auto;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    background-color: #f5f5f5;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* The Modal (background) --------------------------------------------------------------------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Modal Content (image) */
.modal-content {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1000px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* The Close Button */
.close {
    position: absolute;
    top: 70px;
    right: 23.2%;
    background-color: rgb(253, 59, 76);
    color: white;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
    padding-right: 10px;
    padding-left: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.close:hover, .close:focus {
    background-color: white;
    color: rgb(253, 59, 76);
    text-decoration: none;
    cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.close:active {
    opacity: 0.5;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Book Images and arrows --------------------------------------------------------------------------------------------*/
.book-images {
    display: flex;
}

.book-images img {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    width: 80%;
    height: 400px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.book-images img:hover {
    opacity: 0.8;
    cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Arrows for slide shows control */
.arrow-left, .arrow-right {
    font-family: "Bahnschrift", serif;
    text-align: center;
    font-size: 100px;
    opacity: 0.1;
    color: rgb(253, 59, 76);
    background-color: white;
    border: 1px solid lightgray;
    width: 80px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
    cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.arrow-left:active, .arrow-right:active {
    background-color: rgb(253, 59, 76);
    color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.arrow-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.arrow-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/** PAGES CONTROLS --------------------------------------------------------------------------------------------------*/
.page_numbers {
    margin: 0 auto;
    width: 50%;
    padding: 30px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.page_numbers > span {
    border: 1px lightgray solid;
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.page_numbers span:hover {
    cursor: pointer;
    opacity: 0.5;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.active-page {
    background-color: rgb(253, 59, 76);
    color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* FOOTER BLOCK ------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
footer{
    position: static;
    bottom: 0;
    width: 100%;
    margin: 0; //
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* THE CONTAINER OF THE MIDDLE ZONE FOR FOOTER (LOCALISATION, CONTACT ...) */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color:#4b4c54;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.flex-container > div{
    padding-left: 20px;
    width: 30%;
    color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.flex-container > div > ul > li{
    font-size: 12px;
    color: darkgray;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.flex-container > div > ul > li{
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.flex-container > div > h5{
    font-family: MontserratThin, serif;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 5px;
    border-bottom: 1px dotted dimgrey;
    text-transform: uppercase;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* STYLING THE COPY-RIGHT ZONE */
.copy-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #130103;
    color: whitesmoke;
    padding: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.copy-right > span{
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    color: #d9d9d9;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.copy-right > span > a, .flex-container > div > ul > li >  a{
    text-decoration: none;
    color: #d9d9d9;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* POSITION OF THE MAP IN THE FOOTER*/
.map{
    position:relative;
    text-align:right;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Size of the map */
.map-size {
    width:100%;
    height:450px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Space before the map*/
.remove-space{
    padding: 5px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* If the map is bigger than the container, it'll be truncated */
.over-flow{
    overflow:hidden;
    background:none!important;
    height:200px;
    width:100%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* the hover for the links (Lien utiles) */
a.links:hover{
    color: chocolate;
    border-left: 1px dotted;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* the hover for the last link (Faculté des sciences) */
.copy-right > span > a:hover{
    color: chocolate;
    border-bottom: 1px dotted;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Define the positions of elements in the partenaire-zone */
.partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Style of images for 'partenaires' */
.img-partenaire{
    width: 200px;
    height: 90px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.text-partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.text-partenaire > span{
    font-family: Oswald, serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.background-space{
    width: 100%;
    height: 30px;
    background-image: url("../resources/partenaires/background.png");
    background-repeat: repeat;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.partenaire > span > a:hover{
    background-color: rgb(253, 59, 76);
    opacity: 0.7;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Animations --------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------Global styles------------------------------------------------------ */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.text-center {
    text-align: center;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.el-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.hidden {
    display: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.el-right {
    float: right;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.left {
    float: left;
    margin-top: 8px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.right {
    float: right;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Coloring with background  */
.wrap-blue {
    background-color: cornflowerblue;
    border-radius: 50px;
    margin-bottom: 20px;
    color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.wrap-blue:hover {
    background-color: cornflowerblue;
    color: white;
    opacity: 0.8;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.wrap-red {
    background-color: rgb(253, 59, 76);
    border-radius: 50px;
    margin-bottom: 20px;
    color: white;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.wrap-red:hover {
    background-color: rgb(253, 59, 76);
    border-radius: 50px;
    color: white;
    opacity: 0.8;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.animate_fade {
    animation: fadein 2s;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Spacing */
.left-space {
    margin-left: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.right-space {
    margin-right: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.mini-logo {
    margin-left: 25%;
    width: 50%;
    height: 50%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.micro-logo {
    margin-left: 35%;
    width: 25%;
    height: 25%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.uppercase{
    text-transform: uppercase;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.bold {
    font-weight: bold;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.startext{
    font-size: 25px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Responsive CSS ----------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* HEADER ----------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 700px){

    .phone-header {
        display: block;
        overflow: hidden;
        padding-top: 10px;
        width: 100%;
    }

    #title-image {
        display: none;
    }

    .topnav {
        background-image: url("../resources/pictures/background.jpg");
        display: none;
        /* This section calls the slideInFromLeft animation we defined above */
        animation: 0.5s ease-out 0s 1 slideInFromLeft;
    }

    .topnav a {
        background-color: white;
        border: 1px solid lightgray;
        margin-top: -1px;
    }

    .topnav a:hover {
        color: rgb(253, 59, 76);
        border: 2px solid rgb(253, 59, 76);
        /*background-color: rgb(253, 59, 76);*/
        opacity: 1;
    }

    .def-img {
        height: 40px;
        width: 40px;
    }

    .left {
        float: none;
    }

    .right {
        background-color: white;
        float: none;
    }

    .move-left {
        float:left;
    }

    .move-left > img:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .move-right {
        float: right;
        padding-top: 10px;
        padding-right: 10px;
    }

    .move-right:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* MAIN CONTENT ------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {

    .content {
        max-width: 100%;
    }

    .left-menu {
        display: none;
    }

    .sub-content{
        margin-left: 0;
    }

    .modal-content {
        width: 100%;
    }

    .image {
        width: 97%;
        height: 300px;
    }

    .book-images img {
        width: 70%;
        height: 50%;
    }

    .column img {
        width: 100%;
        height: 100%;
    }

    .startext {
        font-size: 20px;
    }

}
/*--------------------------------------------------------------------------------------------------------------------*/
/* FOOTER ------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 700px){

    .partenaire{
        height: 400px;
    }

    .flex-container{
        display: flex;
        flex-direction: column;
    }

    .flex-container > div{
        width: 90%;
    }

    /* Size of the map */
    .over-flow{
        overflow:hidden;
        background:none!important;
        height:100%;
        width:100%;
    }

    .flex-container > div > h5, .flex-container > div  li {
        text-align: center;
        padding-left: -20px;
    }

    .copy-right{
        display: block;
        text-align: center;
    }

    .copy-right > span {
        display: block;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* FIXING MODIFICATIONS*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 800px){
    .content {
        max-width: 100%;
    }

    .flex-container > div > ul > li {
        font-size: 10px;
    }
}
