body {
    background-image: url("../resources/pictures/background.jpg");
    max-width: 1200px;

    background-attachment: fixed;
    height: 100%;
    font-family: 'Open Sans', serif;
}
/* Main content block */

header {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.content {
    margin: auto;
    background: white;
    -webkit-box-shadow: 0 -20px 20px 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0 -20px 20px 0 rgba(0,0,0,0.4);
    box-shadow: 0 -20px 20px 0 rgba(0,0,0,0.4);
}

/* THE BODY BETWEEN THE HEADER AND THE FOOTER */
.container{
    padding: 10px;
}


/* HEADER------------------------------------------------------------------------------------------------------------ */

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: black;
    font-weight: bolder;
    text-align: center;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: rgb(253, 59, 76);
    opacity: 0.2;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: rgb(253, 59, 76);
}

.animate_title {
    animation: fadein 2s;
}

/* GENERAL----------------------------------------------------------------------------------------------------------- */
.el-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.el-right {
    float: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.def-img {
    width: 100%;
    height: auto;
}

/*Jaouad block*/


@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Thin.otf');
}

@font-face {
    font-family: Oswald;
    src: url('fonts/oswald.regular.ttf');
}


footer{
    position: static;
    bottom: 0;
    width: 100%;
    margin: 0; //
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
 /*   background-color: #180e0d;*/
    background-color:#4b4c54

}

.flex-container > div{
    padding-left: 40px;
    width: 29%;
    color: white;
}

.flex-container > div > ul > li{
    font-size: 14px;
    color: #bcbcbc;
}

.flex-container > div > ul > li{
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}

.flex-container > div > h5{
    font-family: Montserrat, serif;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 5px;
    border-bottom: 1px dotted dimgrey;
    text-transform: uppercase;
}


.copy-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #130103;
    color: whitesmoke;
}


.copy-right > span{
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    color: #d9d9d9;
}

.copy-right > span > a, .flex-container > div > ul > li >  a{
    text-decoration: none;
    color: #d9d9d9;
}



.map{
    position:relative;
    text-align:right;
}

.over-flow{
    overflow:hidden;
    background:none!important;
    height:200px;
    width:300px;
}

a.links:hover{
    color: chocolate;
    border-left: 1px dotted;
}
.copy-right > span > a:hover{
    color: chocolate;
    border-bottom: 1px dotted;
}

.partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: white;
}

.img-partenaire{
    width: 200px;
    height: 90px;
}

.text-partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

}

.text-partenaire > span{
    font-family: Oswald, serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.background-space{
    width: 100%;
    height: 30px;
    background-image: url("../resources/partenaires/background.png");
    background-repeat: repeat;
}

.partenaire > span > a:hover{
    background-color: rgb(253, 59, 76);
    opacity: 0.7;
}


@media screen and (max-width: 1024px)
{
    .partenaire{
        height: 400px;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Animations */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Responsive CSS */
@media only screen and (max-width: 600px) {
    .content {
        max-width: 100%;
    }
}



