<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>PartnerComponent</title>
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/PartnerComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/PartnerComponentDataSource.js"></script> 
		<script src="js/model/Partner.js"></script> 
		<script src="js/service/PartnerComponentService.js"></script> 
		<script src="js/PartnerComponent.js"></script> 
	</head> 
	<body onload="main()"> 
		<div class="content"> 
			<div id="header"></div>
			<div id="container" class="container">
				<div id="partners" class="partners"></div>
			</div>
			<div id="footer"></div>
		</div>
	</body>
</html> 
