<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>EventComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/EventComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/EventComponentDataSource.js"></script> 
		<script src="js/model/Event.js"></script> 
		<script src="js/service/EventComponentService.js"></script> 
		<script src="js/EventComponent.js"></script> 
	</head> 
	<body onload="main()"> 
		<div class="content"> 
			<div id="header"></div>
			<div id="search"></div>
            <div class="container">
                <div id="navigation" class="left-menu">
                    <div class="menuitem wrap-blue">Navigation</div>
                </div>
                <div class="sub-content" id="main"></div>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span onclick="closeIMG()" class="close">&times;</span>
                    <img class="modal-content" id="modal_img">
                    <div id="caption"></div>
                </div>
                <div id="switcher" class="page_numbers"></div>
            </div>
			<div id="footer"></div>
		</div>
		<span>
				<button onclick="topFunction()" id="scroll-top" title="Top"></button>
		</span>
	</body> 
</html> 
