<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8"> 
		<title>EventComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/EventComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/EventComponentDataSource.js"></script> 
		<script src="js/model/Event.js"></script> 
		<script src="js/service/EventComponentService.js"></script> 
		<script src="js/EventComponent.js"></script> 
	</head> 
	<body onload="main()"> 
		<div class="content"> 
			<div id="header"></div>
            <div class="container">
                <div class="left-menu">
                    <div class="menuitem wrap-blue">Navigation</div>
                    <hr>
                    <div><a  class="menuitem" href="#stage">Compagnes de stages </a> </div>
                    <hr>
                    <div><a class="menuitem" href="#je">Journée Entrepreneuriat</a> </div>
                    <hr>
                    <div><a class="menuitem" href="#ceremonie">Cérémonie de remises des diplomes</a> </div>
                    <hr>
                    <div><a class="menuitem" href="#para">Evenements para-scolaire</a> </div>
                </div>

                <div class="sub-content" id="main">
                    <div id="stage" >
                        <div class="title">
                            Compagnes de stages :A partir d'octobre
                        </div>
                        <div class="details">
                            <span class="space">Un</span> Mqliste, dans sa deuxième année de formation, commence déja à passer des entretiens de stage pré-ambauche, en fait nous retrouvons, à la faculté des sciences, des multinationales dans des sessions de recrutement organisées par les étudiants MQL.
                            <div class="sub-title">
                                <div class="element">TEST PsychoTechnique : </div>
                                <div class="test">
                                    <img src="../../resources/pictures/psycho.png" alt="">
                                    <div class="description">
                                        Les tests psychotechniques sont utilisés pour mesurer les aptitudes logiques, verbales et numériques de l'étudiant.
                                        Ils mesurent les capacités de réaction, de réflexion, de concentration mais aussi la faculté à intégrer et à traiter l’information ou la stimulation.
                                    </div>
                                </div>
                                <div class="element">TEST Technique : </div>
                                <div class="test">
                                    <img src="../../resources/pictures/technique.png" alt="">
                                    <div class="description">
                                        Un entretien technique  sur les différents aspects du developpement informatique
                                    </div>
                                </div>
                                <div class="element">Entretien RH : </div>
                                <div class="test">
                                    <img src="../../resources/pictures/RH.png" alt="">
                                    <div class="description">
                                        Les étudiants passent un entretien RH allant de 15 à 20 minutes, Le candidat doit mettre en avant son expérience, ses compétences et sa personnalité à travers la description de son parcours professionnel.
                                    </div>
                                </div>
                            </div>

                            <div class="sub-title">
                                <span class="element"> Galerie: </span>
                                <div id="gallery" class="gallery-view"></div>
                            </div>
                        </div>
                    </div>
                    <div id="je">
                        <div class="title"> Journée Entrepreunariat: Novembre </div>
                        <div  class="details">
                            <span class="space">Les</span> étudiants MQL organisent une journée entrepreneuriat, dont des équipes de différents masters présentent leurs projets devant un jury pour une durée de 7 minutes, ci-dessous quelques images :
                            <div id="je-gallery" class="gallery-view je"></div>
                        </div>
                    </div>
                    <div id="ceremonie">
                        <div class="title"> Cérémonie de remise de diplomes : Mars-Avril </div>
                        <div  class="details">
                            <div>
                                <span class="space">La</span> cérémonie de remise de diplômes est une cérémonie organisée afin de celebrer les jeunes diplomés, que la majorité ont déjâ des contrats CDI avec des multinationales notamment CGI,Capgemini,ATOS .... , Cliquez pour voir plus sur nos lauréats.
                                <div class="img-cer">
                                    <img  src="../../resources/pictures/Events/CE1.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="space">Les</span> lauréats MQL ne s'arretent pas à l'insertion professionnelle mais excellent dans leurs postes professionnels et deviennent des éléments clé pour le developpement des multinationales. ils aident également les nouvelles générations( formations, informations ...) dans une solidarité familiale.
                                <div class="img-cer imgs">
                                    <img src="../../resources/pictures/Events/CE2-1.jpg" alt="">
                                    <img src="../../resources/pictures/Events/CE2-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="para">
                        <div class="title"> Evenements para-scolaire : </div>
                        <div  class="details">
                            <div>
                                <span class="space">MQL</span> dépasse les limtes de formation et éducation;
                                MQL est une équipe, une famille, un style de vie.
                            </div>
                            <div class="img-cer ">
                                <img src="../../resources/pictures/mqlfam.JPG" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div id="footer"></div>
		</div> 
	</body> 
</html> 
