body { 
	display:block; 
	margin:auto; 
}
.container {
	display: flex;
	padding-top: 50px;
}
.partners-menu {
	position: relative;
	width: 30%;
	margin-left: 5px;
	border: 1px solid lightgray;
	height: fit-content;
}
.partners-container {
	width: 70%;
	margin-right: 5px;
}

h2 {
	text-align: center;
}

.sep {
	border-top: 1px solid lightgray;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.menu-img {
	width: 100%;
}

.end-img {
	width: 100%;
	margin-top: 10%;
	margin-bottom: -7px;
}

.partners-menu .partner {
	padding-top: 10px;
	height: 40px;
	text-align: center;
	border: 1px solid lightgray;
	cursor: pointer;
	border-radius: 30px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	color: black;
	text-transform: uppercase;
}

.partners-menu .active {
	color: cornflowerblue;
	border: 1px solid cornflowerblue;
}

.partner:hover{
	background-image: url('../../../resources/pictures/Partners/menu-hover.jpg');
	box-shadow: 2px 2px 2px 2px lightgray;
}

.partner:active{
	color:rgb(253, 59, 76);
	box-shadow: 1px 1px 1px 1px lightgray;
}

.card {
	width: 99%;
	height: 100%;
	margin-left: 1%;
	border: 1px solid lightgray;
	animation: 0.5s ease-in 0s 1 slideInFromRight;
}

.card-image img{
	width: 100%;
}
.card-body{
	margin-left: 2%;
	width: 96%;
}

.card-body .title {
	text-align: center;
	font-size: 40px;
}
.card-body .ca {
	font-size: 15px;
	color: gray;
	text-align: right;
}
.card-body .description {
	text-align: justify;
}
.card-body .colabs{
	text-align: center;
}
.card-body .website{
	color: cornflowerblue;
	text-align: center;
}

.micro-logo {
	margin-top: 30px;
}

.website > a {
	color: rgb(253, 59, 76);
}

.new-block {
	width: 83%;
	border-radius: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 19px;
	margin-bottom: 20px;
}

.new-block img {
	width: 15%;
	height: 15%;
}

.partner-icons {
	margin-right: 2%;
	margin-top: 1%;
}

@media screen and (max-width: 700px){

	.container {
		display: block;
	}

	.partners-menu {
		display: block;
		width: 98%;
		margin-bottom: 10px;
	}

	.partners-menu .partner {
		width: 50%;
		margin-left: 25%;
	}
	.partners-container{
		width: 100%;
	}
	.end-img {
		display: none;
	}

	.card {
		width: 98%;
		animation: none;
	}

	.description {
		font-size: 14px;
	}
}
