body {
	display:block;
	margin:auto;
}


.sub-content{
	margin-left: 10%;
}
/* Container of the card and its title */
.big-container{
	/* background-color: cornflowerblue;*/
	margin-bottom: 15px;
}

.zone-title {
	border-top: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
}

.container-border{
	background-color: white;
}


.title-top-cards{
	display: block;
	background-color: rgb(253, 59, 76);
}

/* Container of all the cards of one subject */
.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; /* center horizontally */
	align-items: center; /* center vertically*/
	background-color: #f4f4f4;
}

.card {
    position: relative;
	font-family: MontserratBold, serif;
	width: 45%;
	min-height: 700px;
	border-radius: 5px;
	box-shadow: 0 0 0 rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
	overflow: hidden; /* otherwise header image won't respect rounded corners */
	background-color: #f7fbdf;
	margin: 10px;
	transition: all .4s ease; /* back to normal */
}

.semester-description{
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding: 10px;
	background-color: #f7fbdf;
	border: 1px solid #c4c4c4;
	border-radius: 5px;

}

.semester-description > p{
	padding: 0;
}

.card-activities{
    position: relative;
    font-family: MontserratBold, serif;
    width: 500px;
    height: 680px;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    overflow: hidden;
    background-color: whitesmoke;
    margin: 10px;
    transition: all .4s ease; /* back to normal */
}

.card:hover {
	transform: scale(1.01); /* move up slightly and zoom in */
	box-shadow: 20px 20px 20px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
	transition: all .4s ease; /* zoom in */
}

/* Image associated with the card */
.card-image {
	width: 100%; /* forces image to maintain its aspect ratio*/
	height: 250px;
}


/* subject of the card */

.card-subject{
    border: 1px solid darkblue;
    border-radius: 8px;
    padding: 5px;
    font-size: 22px;
    text-align: center;

}


.subject{
    margin-top: 30px;
}

/* The text content of the card */
.card-text {
	text-justify: none;
	font-size: 16px;
	padding: 20px
}


/* Footer of the card */
.card-footer {
    position: absolute;
    right: 0;
    bottom: 0;
	font-family: roboto, sans-serif;
	padding: 20px 20px 10px 10px;

}


/* Class for resizing the image in the footer of the card */
.logo-mql {
	object-fit: cover; /* don't squish profile image */
	object-position: 30%;  /* move image to the right slightly */
	border-radius: 100%; /* make profile image a circle */
	width: 60px;
	height: 60px;

}

.schedule-img {
	width: 100%;
}

/* Styling the right-side in the footer of the card */
.right-side {
	color: #738a94;
	font-size: 0.9rem;
	line-height: 33px;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: auto; /* move over to the right */
}

/* Style for the zone 'collapsible' */
.collapsible {
	/*background-color: #2975bf;*/
/*	background-image: url("../../../resources/pictures/Activities/semesters-back.png");*/
	background-color: #1a54b4;
	color: white;
	cursor: pointer;
	padding: 18px;
	border: none;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	text-align: left;
	outline: none;
	font-family: MontserratBoldItalic, serif;
	font-size: 15px;
}

#collapse-1{
	background-color: rgb(196, 201, 036);
}

#collapse-2{
	background-color: rgb(067, 174, 183);
}
#collapse-3{
	background-color: rgb(204, 027, 074);
}
#collapse-4{
	background-color: rgb(253, 180, 022);
}

.active-element, .collapsible:hover {
	/*background-color: #184c8c;*/
	/*background-image: url("../../../resources/pictures/img.jpg");*/
	opacity: 0.8;

}

.collapsible:after {
	content: '\26AB';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active-element:after {
	content: "\26AA";
}

.content-card {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.activities-images{
    background-color: #f5f5f5;

}


.course{
    padding: 20px;
	background-color:  #e9e9e9;
    font-family: MontserratBold, serif;
    font-size: 24px;
    text-align: center;
	border-top: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
}

.introduction{
    padding: 20px;
    margin: auto;
	font-family: MontserratBold, serif;
	font-size: 18px;
    text-align: justify;

	background-color: white;
    border-left: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
}


.subject > ul{
	padding: 0;
	margin: 0;
}

.subject > ul > li{

	list-style-type: none;
	padding: 5px;
	margin: 4px;
	border-bottom: 1px solid rgb(253, 59, 76);
    text-align: left;
}

.subject > p {
    text-align: center;
}

.subject > p > span{
    display: inline-block;
    background-color: #ff8057;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px gray;
    margin-left: -20px;
    margin-right: 5px;

}

.subject > p{
	padding-left: 20px;
}

.zone-title{
    padding: 20px;
	background-color:  #e9e9e9;
    font-family: MontserratBold, serif;
    font-size: 24px;
}

.container-image{
	border-left: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	background-color: white;
}

.container-image > img{
	margin-left: 10%;
	width:80%;
}

.formation-video {
	width: 100%;
	border: 2px solid cornflowerblue;
}


@media screen and (max-width: 700px){

	.card {
		height: fit-content;
		width: 100%;
		min-height: auto;
	}

	.logo-mql{
		display: none;
	}

	.card-text {
		overflow: scroll;
		font-size: 14px;
	}
	.card-subject{
		font-size: 14px;
	}

}
