body {
	display:block;
	margin:auto;
}

/* Container of the card and its title */
.big-container{
	/* background-color: cornflowerblue;*/
	padding: 10px;

}

.container-border{
	padding: 10px;
	border-left: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	background-color: #e9e9e9;
}


.title-top-cards{
	display: inline-block;
	width: 97%;
	background-color: coral;
}

/* Container of all the cards of one subject */
.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; /* center horizontally */
	align-items: center; /* center vertically*/
	background-color: #f4f4f4;

}

.card {
    position: relative;
	font-family: MontserratBold, serif;
	width: 530px;
	height: 680px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
	overflow: hidden; /* otherwise header image won't respect rounded corners */
	background-color: #f7fbdf;
	margin: 10px;
	transition: all .4s ease; /* back to normal */
}

.card-activities{
    position: relative;
    font-family: MontserratBold, serif;
    width: 530px;
    height: 680px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    overflow: hidden; /* otherwise header image won't respect rounded corners */
    background-color: whitesmoke;
    margin: 10px;
    transition: all .4s ease; /* back to normal */
}

.card:hover {
	transform: scale(1.01); /* move up slightly and zoom in */
	box-shadow: 20px 20px 20px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
	transition: all .4s ease; /* zoom in */
}

/* Image associated with the card */
.card-image {
	width: 100%; /* forces image to maintain its aspect ratio; otherwise image stretches vertically */
	height: 250px;
}


/* subject of the card */

.card-subject{
    border: 1px solid darkblue;
    border-radius: 8px;
    padding: 5px;
    font-size: 22px;
    text-align: center;

}


.subject{
    margin-top: 30px;
}

/* The text content of the card */
.card-text {
	text-align: justify;
	text-justify: inter-word;
	font-size: 18px;
	padding: 20px
}


/* Footer of the card */
.card-footer {
    position: absolute;
    right: 0;
    bottom: 0;
	font-family: roboto, sans-serif;
	padding: 20px 20px 10px 10px;

}


/* Class for resizing the image in the footer of the card */
.logo-mql {
	object-fit: cover; /* don't squish profile image */
	object-position: 30%;  /* move image to the right slightly */
	border-radius: 100%; /* make profile image a circle */
	width: 60px;
	height: 60px;

}

/* Styling the right-side in the footer of the card */
.right-side {
	color: #738a94;
	font-size: 0.9rem;
	line-height: 33px;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: auto; /* move over to the right */
}

/* Style for the zone 'collapsible' */
.collapsible {
	background-color: #2975bf;
	color: white;
	cursor: pointer;
	padding: 18px;
	border: none;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active-element, .collapsible:hover {
	/*background-color: #184c8c;*/
	background-image: url("../../../resources/pictures/img.jpg");

}

.collapsible:after {
	content: '\26AB';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active-element:after {
	content: "\26AA";
}

.content-card {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.activities-images{
	border-left: 1px solid chocolate;
	border-top: 1px solid chocolate;
	border-right: 1px solid chocolate;
}

.activities-images > h4{
	text-align: center;
}

.introduction{
	padding: 20px;
	font-family: MontserratBold, serif;
	font-size: 18px;
}


.subject > ul{
	padding: 0;
	margin: 0;
}

.subject > ul > li{

	list-style-type: none;
	padding: 5px;
	margin: 4px;
	border-bottom: 1px solid chocolate;
}

.subject > p > span{
    display: inline-block;
    background-color: #ffb32a;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px gray;
    margin-left: 10px;
    margin-right: 5px;
}

