<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>LaureateComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/LaureateComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/LaureateComponentDataSource.js"></script> 
		<script src="js/model/Laureate.js"></script> 
		<script src="js/service/LaureateComponentService.js"></script> 
		<script src="js/LaureateComponent.js"></script> 
	</head> 
	<body onload="main()" onresize="view.updateView()">
		<div class="content"> 
			<div id="header"></div>
			<div class="container">
                <hr>
                <div class="titles-laureates">
                    <h3>Top-MQListes</h3>
                </div>
				<div class="list-recommendations">
					<div class="recommendation">
						<div class="left-border">
						</div>

						<div class="image-and-infos">
							<div class="image-person">
								<img src="images/jaouad.jpg" alt="">
							</div>
							<div class="infos">
								<div class="name">
									Mr. AIT ASSOU Jaouad
								</div>
								<div class="society">
									Software engineer
								</div>
							</div>
						</div>
						<div class="opinion">

							<p>
								<q>
									MQL est une véritable plateforme de formation des étudiants
									MQL est une véritable plateforme de formation des étudiants
								</q>
							</p>
						</div>
					</div>
                    <div class="recommendation">
                        <div class="left-border">
                        </div>

                        <div class="image-and-infos">
                            <div class="image-person">
                                <img src="images/jaouad.jpg" alt="">
                            </div>
                            <div class="infos">
                                <div class="name">
                                    Mr. AIT ASSOU Jaouad
                                </div>
                                <div class="society">
                                    Software engineer
                                </div>
                            </div>
                        </div>
                        <div class="opinion">

                            <p>
                                <q>
                                    MQL est une véritable plateforme de formation des étudiants
                                    MQL est une véritable plateforme de formation des étudiants
                                </q>
                            </p>
                        </div>
                    </div>
                    <div class="recommendation">
                        <div class="left-border">
                        </div>

                        <div class="image-and-infos">
                            <div class="image-person">
                                <img src="images/jaouad.jpg" alt="">
                            </div>
                            <div class="infos">
                                <div class="name">
                                    Mr. AIT ASSOU Jaouad
                                </div>
                                <div class="society">
                                    Software engineer
                                </div>
                            </div>
                        </div>
                        <div class="opinion">

                            <p>
                                <q>
                                    MQL est une véritable plateforme de formation des étudiants
                                    MQL est une véritable plateforme de formation des étudiants
                                </q>
                            </p>
                        </div>
                    </div>
                    <div class="recommendation">
                        <div class="left-border">
                        </div>

                        <div class="image-and-infos">
                            <div class="image-person">
                                <img src="images/jaouad.jpg" alt="">
                            </div>
                            <div class="infos">
                                <div class="name">
                                    Mr. AIT ASSOU Jaouad
                                </div>
                                <div class="society">
                                    Software engineer
                                </div>
                            </div>
                        </div>
                        <div class="opinion">

                            <p>
                                <q>
                                    MQL est une véritable plateforme de formation des étudiants
                                    MQL est une véritable plateforme de formation des étudiants
                                </q>
                            </p>
                        </div>
                    </div>

				</div>
                <br>
                <hr>
                <div class="titles-laureates">
                    <h3>Promotions</h3>

                </div>
                <div class="promotions-style">
				    <div id="navigation" class="left-menu">
					    <div class="menuitem wrap-blue">Navigation</div>
				    </div>
				    <div id="main" class="sub-content">
				    </div>
                </div>
			</div>
			<div id="footer"></div>
		</div>
	</body>
</html> 
