<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>LaureateComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/LaureateComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/LaureateComponentDataSource.js"></script> 
		<script src="js/model/Laureate.js"></script> 
		<script src="js/service/LaureateComponentService.js"></script> 
		<script src="js/LaureateComponent.js"></script> 
	</head> 
	<body onload="main()" onresize="view.updateView()">
		<div class="content"> 
			<div id="header"></div>
			<div class="container">
                <hr>
                <div class="titles-laureates">
                    <h3><img src="../../resources/pictures/top.png" class="top-img" alt="">Top-MQListes</h3>
                </div>

				<div id="list-recommendation" class="list-recommendations">
				</div>
                <br>
                <hr>
                <div class="titles-laureates">
                    <h3>Promotions</h3>
                </div>
                <div id="search"></div>
                <div class="promotions-style">
				    <div id="navigation" class="left-menu">
					    <div class="menuitem wrap-blue">Navigation</div>
				    </div>
				    <div id="main" class="sub-content">
				    </div>
                    <!-- FORM MODAL -->
                    <div id="form" class="modal">
                        <span onclick="closeFORM()" class="close">&times;</span>
                        <div class="form-content" id="formContent">
                            <img src="../../resources/pictures/laureate-logo.png" alt="">
                            <p class="form-title">LAUREATE COMPONENT</p>
                            <input id="promotionName" type="text" class="form-text" placeholder="Promotion Name...">
                            <p id="promotionSubmit" onclick="view.submitData()" class="form-submit">Valider</p>
                        </div>
                    </div>
                    <div id="switcher" class="page_numbers"></div>
                </div>
			</div>
			<div id="footer"></div>
		</div>
        <span>
				<button onclick="topFunction()" id="scroll-top" title="Top"></button>
        </span>
	</body>
</html> 
