<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>LaureateComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/LaureateComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/LaureateComponentDataSource.js"></script> 
		<script src="js/model/Laureate.js"></script> 
		<script src="js/service/LaureateComponentService.js"></script> 
		<script src="js/LaureateComponent.js"></script> 
	</head> 
	<body onload="main()" onresize="view.updateView()">
		<div class="content"> 
			<div id="header"></div>
			<div class="container">
				<div id="navigation" class="left-menu">
					<div class="menuitem wrap-blue">Navigation</div>
				</div>
				<div id="main" class="sub-content">
				</div>
			</div>
			<div id="footer"></div>
		</div> 
	</body> 
</html> 
