<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>NewsComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/NewsComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/NewsComponentDataSource.js"></script> 
		<script src="js/model/News.js"></script> 
		<script src="js/service/NewsComponentService.js"></script> 
		<script src="js/NewsComponent.js"></script>
	</head> 
	<body onload="main()"> 
		<div class="content"> 
			<div id="header"></div>
            <div id="search"></div>
			<div class="container">
				<div id="navigation" class="left-menu">
					<div class="menuitem wrap-blue">Navigation</div>
				</div>
				<div id="main" class="sub-content"></div>
				<!-- The Modal -->
				<div id="myModal" class="modal">
					<span onclick="closeIMG()" class="close">&times;</span>
					<img class="modal-content" id="modal_img" alt="" src="">
					<div id="caption"></div>
				</div>
				<!-- FORM MODAL -->
				<div id="form" class="modal">
					<span onclick="closeFORM()" class="close">&times;</span>
					<div class="form-content" id="formContent">
						<img src="../../resources/pictures/News-logo.png" alt="">
						<p class="form-title">NEWS COMPONENT</p>
						<input id="newsTitle" type="text" class="form-text" placeholder="News Title...">
						<textarea id="newsDescription" class="form-text" placeholder="News Description" rows="5"></textarea>
						<p id="newsSubmit" onclick="view.submitData()" class="form-submit">Valider</p>
					</div>
				</div>
				<div id="switcher" class="page_numbers"></div>
			</div>
			<div id="footer"></div> 
		</div>
		<span>
			<button onclick="topFunction()" id="scroll-top" title="Top"></button>
		</span>
	</body> 
</html> 
