<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8"> 
		<title>ActivityComponent</title>
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" href="css/ActivityComponent.css">
		<script src="../../js/main.js"></script> 
		<script src="js/data/ActivityComponentDataSource.js"></script> 
		<script src="js/model/Activity.js"></script> 
		<script src="js/service/ActivityComponentService.js"></script> 
		<script src="js/ActivityComponent.js"></script> 
	</head> 
	<body onload="main()">
		<div class="content"> 
			<div id="header"></div>

				<div class="container">
					<div class="activities-images">
						<h4>Déroulement des cours</h4>
						<div class="introduction">
							<p>La formation MQL, se déroulera en deux ans, repartissés en 4 semestres qui permettenet d'assurer un</p>
						</div>
					</div>

					<hr>
					<div class="container-border">
						<div id="zone">

						</div>
					</div>
				</div>

			<div id="footer"></div> 
		</div> 
	</body> 
</html> 
