<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>ActivityComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/ActivityComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/ActivityComponentDataSource.js"></script> 
		<script src="js/model/Activity.js"></script> 
		<script src="js/service/ActivityComponentService.js"></script> 
		<script src="js/ActivityComponent.js"></script>
	</head> 
	<body onload="main()" onresize="view.updateView()">
		<div class="content"> 
			<div id="header"></div>
				<div class="container">
						<div class="activities-image">
							<div class="title">Déroulement de cours</div>
							<div class="details">
								<img src="../../resources/pictures/Activities/deroulement-cours2.png" alt="" class="el-center">
								<p>
									&nbsp;&nbsp;&nbsp;&nbsp;
									La formation MQL se déroule en deux ans, répartit en quatres semestres,
									dont les trois premiers se déroulent généralement en six de modules reliant entre la théorie et la pratique.
									Le dernier semestre est la dernière étape de cette formation, c'est un projet de fin d'études effectué au sein d'une multinationale parmis nos partenaires,
									ce qui offre aux étudiants un terrain concret de mise en situation pour son évolution vers un savoir-être et un savoir-faire d’ingénieur d'études et developpement,
									ainsi que valider les acquis sur des problématiques  regroupant les différents centres d’intérêts de la formation.
									La formation implique aussi :
								<ul>
									<li>Learning by doing (Apprentissage par la pratique) : Les étudiants sont amenés à réaliser un ensemble de projets ( JAVA , JAVAEE , WEB , Design Patterns ...)</li>
									<li>Learning by teaching: Les étudiants sont amenés à présenter ( expliquer ) un ensemble de technologies, sujets durant les deux années de formation</li>
								</ul>
								</p>
							</div>
						</div>
						<div class="semesters">
							<div class="title">Semesters</div>
							<div class="details">
								<div id="zone">

								</div>
							</div>
						</div>
						<div class="mf">
							<div class="title">
								Modèle de Formation
							</div>
							<div class="details">
								<video class="formation-video" autoplay muted loop>
									<source src="../../resources/videos/formation.mp4" type="video/mp4" >
								</video>
							</div>

						</div>
				</div>
			<br>
			<div id="footer"></div> 
		</div>
		<span>
				<button onclick="topFunction()" id="scroll-top" title="Top"></button>
		</span>
	</body> 
</html> 
