<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>ActivityComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/ActivityComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/ActivityComponentDataSource.js"></script> 
		<script src="js/model/Activity.js"></script> 
		<script src="js/service/ActivityComponentService.js"></script> 
		<script src="js/ActivityComponent.js"></script> 
	</head> 
	<body onload="main()" onresize="view.updateView()">
		<div class="content"> 
			<div id="header"></div>
				<div class="container">
						<div class="activities-image">
							<div class="title">Déroulement de cours</div>
							<div class="details">
								<img src="../../resources/pictures/Activities/deroulement-cours2.png" alt="" class="el-center">
								<p>
									&nbsp;&nbsp;&nbsp;&nbsp;
									La formation MQL se déroule en deux ans, répartissés en quatre semestres.
									Les trois premiers semestres se composent d'un ensemble de modules qui integrent un enseignement théorique, ainsi que pratique.
									Sachant que le dernier semestre, qui est la derniere étape de cette formation, est un projet de fin d'études s'éffectuant au sein d'une entreprise parmis nos partenaires,
									ce qui offre au étudiant un terrain concret de mise en situation pour son évolution vers un savoir-être et un savoir-faire d’ingénieur d'études et developpement,
									ainsi que valider les acquis sur des problématiques  regroupant les différents centres d’intérêts de la formation.
								</p>
							</div>
						</div>
						<div class="semesters">
							<div class="title">Semesters</div>
							<div class="details">
								<div id="zone">

								</div>
							</div>
						</div>
						<div class="mf">
							<div class="title">
								Modèle de Formation
							</div>
							<div class="details">
								<div class="container-image">
									<img src="../../resources/pictures/model-formation.png" alt="">
								</div>
							</div>

						</div>
				</div>
			<br>
			<div id="footer"></div> 
		</div>
		<span>
				<button onclick="topFunction()" id="scroll-top" title="Top"></button>
		</span>
	</body> 
</html> 
