<!DOCTYPE html> 
<html lang="fr"> 
	<head> 
		<meta charset="UTF-8"> 
		<title>HomeComponent</title> 
		<link rel="stylesheet" href="components/HomeComponent/css/HomeComponent.css"> 
		<script src="components/HomeComponent/js/data/HomeComponentDataSource.js"></script> 
		<script src="components/HomeComponent/js/model/Home.js"></script> 
		<script src="components/HomeComponent/js/service/HomeComponentService.js"></script> 
		<script src="components/HomeComponent/js/HomeComponent.js"></script> 
	</head> 
	<body onload="main()"> 
		<h1>HomeComponent works</h1> 
	</body> 
</html> 
