<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8"> 
		<title>HomeComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/HomeComponent.css"> 
		<script src="../../js/main.js"></script> 
		<script src="js/data/HomeComponentDataSource.js"></script>
		<script src="js/model/Home.js"></script>
		<script src="js/service/HomeComponentService.js"></script>
		<script src="js/HomeComponent.js"></script>
	</head>
	<body onload="main()">
		<div class="content">
			<div id="header"></div>
			<img src="../../resources/pictures/presentationimage.png" class="image">
			<hr>
			<div class="container">
				<div class="left-menu">
					<div> <a  class="menuitem" href="#presentation"> Master Qualité du logiciel </a> </div>
					<hr>
					<div> <a class="menuitem" href="#prof">Monsieur Noureddine Chenfour </a> </div>
					<hr>
					<div> <a class="menuitem" href="#mqliste">MQListe</a> </div>
					<hr>
					<div> <a class="menuitem" href="#program">Programme</a> </div>
				</div>
				<div class="sub-content">
					<div id="presentation" class="presentation">
						<div class="title">Master Qualité du Logiciel</div>
						<div class="details">
							MQL, master qualité du logiciel date depuis 2007, C'est une véritable plateforme de formation et de production de la ressource humaine très hautement qualifiée en ingénierie du logiciel. Le Master permet à l’étudiant d’une part d’acquérir une compétence de pointe en haute technologie informatique et d’autre part une très bonne maitrise de l’entreprise et de son écosystème avec une insertion facile, naturelle et implicite dans les plus grandes SS2I du monde.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis distinctio harum libero nobis, quaerat tempora. Accusamus asperiores deleniti ducimus hic, laboriosam laborum maiores nemo numquam pariatur perspiciatis repellendus repudiandae?
						</div>
					</div>
					<div id="prof" class="prof">
						<div class="title"> N.Chenfour : </div>
						<div  class="details">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem facilis molestias nemo? Autem cupiditate, dignissimos eaque laboriosam minima minus, perspiciatis quae, quis quisquam reprehenderit temporibus veritatis voluptatum. Alias, culpa temporibus?
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias asperiores atque culpa dolorum ea eius est facilis laboriosam libero magni molestiae nostrum officia omnis provident soluta ullam. Aperiam, nihil!
						</div>
					</div>
					<div id="mqliste" class="mqliste">
						<div class="title"> PROFIL MQL : </div>
						<div  class="details">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam, corporis culpa dolore earum exercitationem, fugiat iusto laboriosam minus molestias nam nostrum obcaecati, praesentium quo recusandae rem sequi sint voluptatibus.
						</div>
					</div>
					<div id="program" class="program">
						<div class="title"> Programme : </div>
						<div  class="details">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores dolorem dolores doloribus	ducimus, enim illo laboriosam libero maxime nihil nulla obcaecati optio recusandae repellat sit temporibus veritatis vitae.
							<table class="table-program" border="2px">
								<tbody>
								<tr>
									<td>
										<span>Semestre 1 : </span>
										<ul>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
										</ul>
									</td>
									<td>
										<span>Semestre 2 :</span>
										<ul>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>
										<span>Semestre 3 :</span>
										<ul>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
										</ul>
									</td>
									<td>
									   <span>Semestre 4 :</span>
										<ul>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
										</ul>
									</td>
								</tr>
								</tbody>
							</table>

						</div>
					</div>
					<div id="mqlfamily" class="mqlfamily">
						<div class="title"> MQL :  une famille, un style de vie : </div>
						<div  class="details">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam, corporis culpa dolore earum exercitationem, fugiat iusto laboriosam minus molestias nam nostrum obcaecati, praesentium quo recusandae rem sequi sint voluptatibus.
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div id="footer"></div>
		</div>
	</body>
</html> 
