<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<title>HomeComponent</title> 
		<link rel="stylesheet" href="../../css/style.css"> 
		<link rel="stylesheet" href="css/HomeComponent.css">
		<!--RELATED COMPONENTS JS INCLUSION FOR SNAPSHOTTING----------------------------------------------------------->
		<!--5 LATEST NEWS SNAPSHOT SCRIPTS INCLUSION -->
		<script src="../NewsComponent/js/data/NewsComponentDataSource.js"></script>
		<script src="../NewsComponent/js/model/News.js"></script>
		<script src="../NewsComponent/js/service/NewsComponentService.js"></script>
		<!--DEFAULT JS INCLUSIONS-------------------------------------------------------------------------------------->
		<script src="../../js/main.js"></script>
		<script src="js/data/HomeComponentDataSource.js"></script>
		<script src="js/model/Home.js"></script> 
		<script src="js/service/HomeComponentService.js"></script>
		<script src="js/views/HomeComponent.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body onload="main()">
		<div class="content">
			<div id="header"></div>
			<div class="main-box">
				<div id="slide-show" onclick="window.location.href='#book'" class="slide-show image"></div>
				<div class="news">
					<span> ACTUALITES MQL </span>
					<table class="news-tab" id="table-news"></table>
				</div>
			</div>
			<div class="container">
				<div class="left-menu">
					<div class="menuitem wrap-blue">Navigation</div>
					<hr>
					<div><a class="menuitem" href="#presentation">Master Qualité du logiciel </a> </div>
					<hr>
					<div><a class="menuitem" href="#prof">Monsieur Noureddine Chenfour </a> </div>
					<hr>
					<div><a class="menuitem" href="#mqliste">MQListe</a> </div>
					<hr>
					<div><a class="menuitem" href="#program">Programme</a> </div>
					<hr>
					<div><a class="menuitem" href="#stats">Statistiques</a> </div>
					<hr>
					<div><a class="menuitem" href="#mqlfamily">Famille MQL</a> </div>
				</div>
				<div class="sub-content">
					<div id="presentation" class="presentation">
						<div class="title">
							Master Qualité du Logiciel
						</div>
						<div class="details">
							<div>
								<img class="mini-logo" src="../../resources/pictures/logoMQL2.png">
							</div>
							<span>MQL est une véritable plateforme de formation et de production de la ressource humaine très hautement qualifiée en ingénierie du logiciel. Le Master permet à l’étudiant d’une part d’acquérir une compétence de pointe en haute technologie informatique et d’autre part une très bonne maitrise de l’entreprise et de son écosystème avec une insertion facile, naturelle et implicite dans les plus grandes SS2I du monde.</span>
							<p>Le Master «Qualité du Logiciel», créé en 2007 orienté vers l'insertion professionelle dans les multinationales, permet d’offrir aux étudiants une formation approfondie et des méthodes de travail de très haut niveau dans le domaine de la qualité du logiciel.</p>
							<video class="mql-video" autoplay muted loop>
								<source src="../../resources/videos/mql.mp4" type="video/mp4" >
							</video>
							<hr>
							<p>le master Qualité de Logiciels s’intéresse à:</p>
							<ul>
								<li>Former et spécialiser des étudiants sur les systèmes informatiques, plus précisément le développement logiciel ;</li>
								<li>Doter les étudiants de compétences et de savoir faire dans les domaines d’ingénierie d’entreprises, l’intégration des systèmes clients - serveurs ainsi que les systèmes et applications répartis</li>
							</ul>
						</div>
					</div>
					<div id="prof" class="prof">
						<div class="title">Coordonateur : N.Chenfour</div>
						<div  class="details">
							<div class="Chenfour">
								<img class ="img" src="../../resources/pictures/M.Chenfour.jpg" alt="">
								<div> <span class="uppercase bold startext">Mr Noureddine Chenfour,</span> coordonateur et créateur du master qualité du logiciel depuis 2007, est un PROFESSEUR Universitaire en Informatique à la Faculté des Sciences, Responsable de l’Équipe de Recherche ACT (Applied research and advanced Computing Technologies), Affilié au réseau méditerranéen NEMLAR ((Network for Euro-Mediterranean Language Resources). Président Fondateur et Responsable Formation.
								</div>
							</div>

						</div>
					</div>
					<div id="mqliste" class="mqliste">
						<div class="title"> Accéder à MQL </div>
						<div  class="details">
							<div>
								<img class="full-width" src="../../resources/pictures/access.jpg"  alt="access to master">
							</div>
							<div class="element">
								<p class="element-title">Condition d'access</p>
								<div class="element-details">Titulaires d’une Licence en Sciences Mathématiques et Informatiques (SMI), ou Titulaires d’une Maîtrise en Informatique, ou Titulaires d’un Diplôme équivalent.</div>
							</div>
							<div class="element">
								<p class="element-title">Proédure de sélection</p>
								<div class="element-details">
									<ol>
										<li>Etude de dossier </li>
										<li>Test écrit </li>
										<li>Entretien oral</li>
									</ol>
								</div>
							</div>
							<div class="element">
								<p class="element-title">Dossier de candidature</p>
								<div class="element-details">
									<ul>
										<li>Demande manuscrite adressée à Monsieur le Doyen</li>
										<li>Attestation de réussite en cycle licence</li>
										<li>Copie du projet de fin d’études</li>
										<li>Relevé de notes</li>
										<li>Copie de la carte d’identité Nationale</li>
										<li>4 enveloppes timbrées portant l’adresse du candidat</li>
										<li>4 photos</li>
										<li>Lettres de recommandation </li>
									</ul>
								</div>
							</div>
							<div class="element">
								<p class="element-title">Profil Demandé :
								<p>Un Mqliste est un futur  ingénieur d'étude maitrisant les bonnes pratiques du développement, qui doit posséder les qualités suivantes :</p>

								<div class="element-details">
									<ul>
										<li>Bagage informatique sur les différents aspect informatiques </li>
										<li>Capacité d'écoute</li>
										<li>Maitrise de soi</li>
										<li>Esprit d'équipe</li>
										<li>Motivation</li>
										<li>...</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div id="program" class="program">
						<div class="title"> Programme </div>
						<div  class="details">
							<p>Les modules constituent pour les apprenants un pré  requis scientifique important et pertinent pour une intégration réussie dans le monde professionnel, la formation permet aux étudiants d’acquérir une ouverture culturelle et une confiance en eux même (réalisations de mini projets et des projets de fin d’études, stages dans des entreprises, préparations des exposés………).</p>
							<p>La formation MQL s'intersse principalement aux besoins des entreprises, cette formation est déroulée en 4 semestres, 2 par an, dont chacun avec 6 modules , le 4<sup>ème</sup> semestre est déstiné pour un stage pré-embauche dans des <strong>multinationales</strong> actives en développement offshore.
								<a href="../ActivityComponent/ActivityComponent.html"><span class="vp">Voir plus...</span></a></p>
							<table id="table-program" class="table-program" border="2px"></table>
						</div>
					</div>
					<div id="stats">
						<div class="title"> Statistiques  </div>
						<div  class="details">
							<p>Présentons MQL en chiffres : </p>
							<p>-Nous avons passsé de 20% d'insertion en stage pré-embauche en 2009 (5 sur 20) à 100% en 2015 (30 sur 30) , dont +90% ont signé des contrats CDI</p>
							<img id='stat1' class="stats-image" src="../../resources/pictures/stats1.png" alt="" onclick="popIMG(this.id)">
							<p>-Entre 2015 et 2019, CAPGEMINI, de ces deux sièges RABAT et CASABLANCA, est notre premier partenaire en nombre d'étudiants intégrés avec <strong>71</strong> stagiaires, suivie de CGI (Fes, Rabat et Casablanca ) avec <strong>44</strong>  MQListes</p>
							<img id='stat2' class="stats-image" src="../../resources/pictures/stages.png" alt="" onclick="popIMG(this.id)">
							<p>- Sur un total d'effectif de 160 étudiants, <strong>147</strong> ont réussi à décrocher leurs contrats CDI avec un taux d'insertion de 92% (2015-2019): </p>
							<img id='stat3' class="stats-image" src="../../resources/pictures/cdi.png" alt="" onclick="popIMG(this.id)">
						</div>
					</div>
					<div id="mqlfamily" class="mqlfamily">
						<div class="title"> Famille  </div>
						<div  class="details">
							<p>WE ARE A FAMILY! MQL est une famille !</p>
							<p>MQL :  une famille, un style de vie :</p>
							<div class="book-images" id="book"></div>
						</div>
					</div>
				</div>
				<!-- The Modal -->
				<div id="myModal" class="modal">
					<span onclick="closeIMG()" class="close">&times;</span>
					<img class="modal-content" id="modal_img">
					<div id="caption"></div>
				</div>

			</div>

			<div id="footer"></div>
		</div>
			<span>
				<button onclick="topFunction()" id="scroll-top" title="Top"></button>
			</span>
	</body>

</html> 
