body { 
	display:block; 
	margin:auto;
}

.container {
	background-image: url('../../../resources/pictures/pattern.png');
	background-repeat: repeat-y;
}

.main-box{
	display: flex;
	margin-top: 5px;
	margin-bottom: 10px;
}

.slide-show {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/* Animation for slide show */
	animation: slideShow 5s ease-in-out infinite both;
}

.slide-show:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.news{
	width: 35%;
	border: solid 1px lightgray;
 	margin-left: 5px;
	margin-right: 5px;
	overflow: auto;
}

.news span {
	padding-top: 10px;
	display: block;
	text-align: center;
	font-family: "Agency FB", serif;
	font-size: 25px;
	background-color: #f5f5f5;
	height: 10%;
}

.news-tab{
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	padding: 2px;
	border-collapse: separate;
	border-spacing: 15px;
}

.news-tab td {
	height: auto;
	margin-top: 10px;
	text-align: center;
	padding: 5px;
}

.news-tab td:first-child {
	background-color: #f5f5f5;
	width: 35%;
}
.news-tab td:last-child {
	width: 95%;
}

.table-program{
	margin-top: 10px;
	padding: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
}

tbody, tr, td, th {
	border: 1px lightgray solid;
	border-radius: 10px;
}

li {
 	list-style: circle;
	margin-left: 20px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(253, 59, 76);
	cursor: pointer;
}
.vp{
	color: cornflowerblue;
}
.semester{
	display: block;
	text-align: center;
	padding: 10px;
	color: cornflowerblue ;
	font-weight: bold;
	font-size: 20px;
	font-family: "Times New Roman", serif;
}
.element .element-title {
	color: cornflowerblue;
	padding: 10px;
	font-family: "Agency FB", serif;
	font-size: 25px;
	font-weight: bold;

}

.element-title {
	border: 1px solid lightgray;
	border-radius: 10px;
}

.element-details {
	border: 1px solid rgba(216,250,255,0.83);
	border-radius: 10px;
	background-color: rgba(216,250,255,0.83);
	padding: 10px;
}

.Chenfour{
	display: flex;
}

.Chenfour .img {
	width: 40%;
}

.Chenfour div {
	padding: 20px;
	width: 60%;
}

.details > img {
	margin-right: auto;
	margin-left:auto;
	width: 100%;
}

.full-width {
	width: 100%;
	height: 100%;
}
.mql-video {
	width: 100%;
	border: 2px solid cornflowerblue;
}
.stats-image:hover{
	opacity: 0.7;
	cursor: pointer;
}
/* Animations */

@keyframes slideShow {
	0% {
		font-size: 1px;
		background-image: url("../../../resources/pictures/presentationimage.png");
	}
	100% {
		font-size: 2px;
		background-image: url("../../../resources/pictures/mqlfam.JPG");
	}
}

/* Responsive css ----------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {

	.container {
		background-image: none;
	}

	.main-box {
		display: block;
	}

	.news {
		width: 97%;
	}

	.Chenfour{
		display: block;
	}

	.Chenfour img {
		width: 100%;
		margin-left: 28%;
	}

	.Chenfour div {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	li {
		margin-left: 0;
		text-align: left;
	}

}
