/*--------------------------------------------------------------------------------------------------------------------*/
body {
	display:block; 
	margin:auto;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.container {
	background-image: url('../../../resources/pictures/pattern.png');
	background-repeat: repeat-y;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.card-event {
	display: flex;
	border: 1px solid lightgray;
	margin-bottom: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.card-event > img {
	width: 30%;
	border-right: 1px solid lightgray;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.card-event .description {
	width: 70%;
	padding: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.full-width {
	width: 98%;
	padding: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.sub-title{
	padding-top: 15px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.sub-title .element {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
	text-align: center;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.space{
	padding-left:30px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* BLOCK FOR THE SLIDESHOW ANIMATION ---------------------------------------------------------------------------------*/
.gallery-view1, .gallery-view2 {
	border: 1px solid lightgray;
	width: 100%;
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.gallery-view1:hover, .gallery-view2:hover {
	animation-play-state: paused;
	cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.gallery-view1 {
	/* Animation for slide show */
	animation: slideShow1 20s ease-in-out infinite both;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.gallery-view2  {
	/* Animation for slide show */
	animation: slideShow2 20s ease-in-out infinite both;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*.gallery-view3  {
	!* Animation for slide show *!
	animation: slideShow3 20s ease-in-out infinite both;
}
.gallery-view4  {
	!* Animation for slide show *!
	animation: slideShow4 20s ease-in-out infinite both;
}*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* BLOCK FOR THE SLIDESHOW ANIMATION ---------------------------------------------------------------------------------*/
.img-cer{
	margin-top: 20px;
	margin-right: auto;
	text-align: center;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.img-cer img{
	width: 90%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.imgs{
	display: flex;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.imgs img:first-child{
	width: 40%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.imgs img:last-child{
	width: 60%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* ---- Timeline ---- */
.timeline {
	padding: 20px;
}

.timeline-icon {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.timeline-list {
	position: relative;
	display: block;
	margin: 100px;
	height: 4px;
	border-top: 5px solid cornflowerblue;
	border-radius: 50%;
}
/* ---- Timeline elements ---- */
.timeline-item {
	position: relative;
	display: inline-block;
	float: left;
	width: 20%;
	margin-left: 10%;
	font: bold 14px arial;
	height: 50px;
}
.timeline-item .timeline-title {
	font-size: 30px;
	position: absolute;
	color: #000000;
}
.timeline-item .timeline-span {
	top: -10px;
	display: block;
	width: 10px;
	height: 10px;
	border: 4px solid red;
	border-radius: 10px;
	background: #fff;
	position: absolute;
}
.timeline-item .timeline-description {
	display: none;
	background-color: white;
	padding: 5px;
	border: 1px solid lightgray;
	box-shadow: 0 0 5px lightgray;
	margin-top: 20px;
	margin-left: -50%;
	position: relative;
	font-weight: normal;
	z-index: 1;
	width: 250px;
}
.timeline-description::before {
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #f4f4f4;
	position: absolute;
	top: -5px;
	left: 43%;
}

.timeline-item-image {
	width: 250px;
	margin-bottom: 5px;
}

/* ---- Hover effects ---- */
.timeline-item:hover {
	cursor: pointer;
	color: black;
	font-size: 15px;
}
.timeline-item:hover .timeline-description {
	display: block;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Phone */
@media only screen and (max-width: 700px) {

	.container {
		background-image: none;
	}

	.card-event {
		display: block;
	}
	.card-event > img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.card-event .description{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.imgs{
		display: block;
	}
	.imgs img:first-child{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.imgs img:last-child {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
	.timeline {
		display: none;
	}
	.timeline {
		display: none;
	}
	.gallery-view1, .gallery-view2 {
		min-height: 200px;
	}
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Animations */
@keyframes slideShow1 {
	0% {
		font-size: 1px;
		background-image: url("../../../resources/pictures/Events/CAP.JPG");
	}
	10% {
		font-size: 2px;
		background-image: url("../../../resources/pictures/Events/cap1.JPG");
	}
	20% {
		font-size: 3px;
		background-image: url("../../../resources/pictures/Events/cap2.JPG");
	}
	30% {
		font-size: 4px;
		background-image: url("../../../resources/pictures/Events/CGI.JPG");
	}
	40% {
		font-size: 5px;
		background-image: url("../../../resources/pictures/Events/CGI2.JPG");
	}
	50% {
		font-size: 6px;
		background-image: url("../../../resources/pictures/Events/CGI1.JPG");
	}
	60% {
		font-size: 7px;
		background-image: url("../../../resources/pictures/Events/CGI3.JPG");
	}
	70% {
		font-size: 8px;
		background-image: url("../../../resources/pictures/Events/UMANIS2.JPG");
	}
	80% {
		font-size: 9px;
		background-image: url("../../../resources/pictures/Events/UMANIS4.JPG");
	}
	90% {
		font-size: 9px;
		background-image: url("../../../resources/pictures/Events/CGI.JPG");
	}
	100% {
		font-size: 9px;
		background-image: url("../../../resources/pictures/Events/CGI3.JPG");
	}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes slideShow2 {
	0% {
		font-size: 1px;
		background-image: url("../../../resources/pictures/Events/JE1.JPG");
	}
	20% {
		font-size: 2px;
		background-image: url("../../../resources/pictures/Events/JE2.JPG");
	}
	40% {
		font-size: 3px;
		background-image: url("../../../resources/pictures/Events/JE3.JPG");
	}
	60% {
		font-size: 4px;
		background-image: url("../../../resources/pictures/Events/JE4.JPG");
	}
	80% {
		font-size: 5px;
		background-image: url("../../../resources/pictures/Events/JE5.JPG");
	}
	100% {
		font-size: 6px;
		background-image: url("../../../resources/pictures/Events/JE6.JPG");
	}
}
/*--------------------------------------------------------------------------------------------------------------------*/
