body { 
	display:block; 
	margin:auto; 
}

.container {
	background-image: url('../../../resources/pictures/pattern.png');
	background-repeat: repeat-y;
}

.access {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%;
	/*background-color: rgb(0,0,0);  Fallback color */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.access-close {
	font-family: "Franklin Gothic Heavy", serif;
	float: right;
	font-size: 40px;
	color: white;
	display: block;
	margin-right: 15%;
	margin-top: 5%;
	padding: 10px;
}

.access-close:hover {
	color: rgb(253, 59, 76);
	cursor: pointer;
}

.access-content {
	width: 70%;
	height: 70%;
	padding: 10px;
	animation-name: zoom;
	animation-duration: 0.6s;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../../../resources/pictures/Area/imgaccess.jpg');
	border-radius: 30px;
	align-items: center;
}

.access-title {
	margin-top: 3px;
	margin-left: 10px;
	text-align: left;
	font-size: 60px;
	font-weight: bolder;
	color: white;
}

.access-login {
	border-radius: 20px;
	padding: 20px;
	width: 80%;
	margin-top: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.access-error {
	border: 1px solid crimson;
	border-radius: 20px;
	padding: 15px;
	width: 80%;
	font-size: 20px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	background-color: rgba(233,183,133,0.92);
	color: crimson;
	display: none;
}

.error-icon {
	float: right;
	width: 30px;
	height: 30px;
}

.access-username, .access-password {
	border: 1px solid lightgray;
	border-radius: 20px;
	padding: 10px;
	width: 40%;
	font-size: 20px;
	font-weight: bold;
	color: #4b4c54;
	display: block;
	text-align: center;
	opacity: 0.6;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.access-username:hover, .access-password:hover {
	opacity: 1;
}

.access-username:focus, .access-password:focus {
	border: 2px solid cornflowerblue;

}

.access-button {
	border: none;
	padding: 20px;
	background-color: rgba(93,233,77,0.92);
	font-size: 25px;
	font-weight: bolder;
	color: white;
	opacity: 0.8;
	width: fit-content;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.logout-button {
	border: none;
	padding: 20px;
	background-color: rgba(233,42,25,0.92);
	font-size: 20px;
	font-weight: bold;
	color: white;
	opacity: 0.8;
	width: 100%;
	margin-top: 20px;
	border-radius: 20px;
}

.access-button:hover, .logout-button:hover {
	opacity: 0.5;
	cursor: pointer;
}

.access-button:active, .logout-button:active {
	opacity: 1;
}


/* RESTRICTED AREA */
.profile {
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
}

.phone-profile {
	display: none;
}

.profile > img {
    width: 100%;
}

.user-block {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

.manage-block {
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 10px;
}

.manage-cards {
	width: 100%;
	display: flex;
	margin-left: 3%;
}

.manage-card {
	width: 45%;
	padding: 10px;
}

.manage-card > img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: 0.7;
}

.manage-card > img:hover {
	opacity: 1;
	cursor: pointer;
}

.manage-card > p {
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
}

.manage-title {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: bolder;
}

.manage-title > img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

@media screen and (max-width: 1400px){
	h1 {
		font-size: 1.5em;
	}

	.access-content {
		width: 80%;
		height: 80%;
	}

	.access-title {
		font-size: 40px;
	}

	.access-username, .access-password {
		font-size: 20px;
		width: 60%;
		height: 30px;
	}

	.manage-cards {
		width: 100%;
		display: flex;
		margin-left: 2%;
	}

}

@media screen and (max-width: 700px){

	.container {
		background-image: none;
	}

	.access-close {
		font-size: 25px;
		margin-right: 5%;
	}

	.access-content {
		width: 90%;
		height: 500px;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		background-image: url('../../../resources/pictures/Area/login.jpg');
		background-repeat: no-repeat;
	}

	.access-button {
		font-size: 15px;
	}

	.access-title {
		font-size: 25px;
		font-weight: bold;
	}

	.access-login {
		border-radius: 20px;
		padding: 20px;
		width: 80%;
		margin-top: 2%;
	}

	.error-icon {
		float: right;
		width: 20px;
		height: 20px;
	}

	.access-username, .access-password {
		font-size: 15px;
		width: 80%;
		height: 40px;
	}

	.container {
		display: block;
	}

	.manage-cards {
		display: block;
	}

	.manage-card {
		width: 97%;
	}

	.phone-profile {
		display: flex;
		width: 97%;
		border: 1px solid lightgray;
		border-radius: 20px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
	}

	.phone-profile > img {
		width: 50%;
		margin-right: 20px;
		margin-left: 10px;
	}

	.manage-cards {
		width: 100%;
		display: flex;
		margin-left: 0;
	}

}


