body { 
	display:block; 
	margin:auto; 
}
.card-laureate {
	width: 100%;
	display: flex;
	border: 1px solid lightgray;
	margin-bottom: 10px;
	background-image: url('../../../resources/pictures/Laureates/bg-card.jpg');
	background-repeat: no-repeat;
	opacity: 0.4;
}

.card-laureate:hover {
	opacity: 0.9;
}

.card-laureate > div {
	display: block;
}

.card-laureate img {
	width: 30%;
	height: 270px;
	margin-left: 10px;
	border-radius: 10px;
}

.card-laureate .description {
	width: 70%;
	padding: 10px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.card-laureate .item-description {
	width: 100%;
	padding: 10px;
}

.card-laureate .element {
	color: white;
	margin-left: 20px;
	max-width: 93%;
	font-size: 25px;
	font-weight: bolder;
}

.card-laureate .item-element {
	color: white;
	margin-left: 20px;
	font-size: 25px;
	font-weight: bold;
}

.card-laureate .element:hover, .card-laureate .item-element:hover {
    opacity: 0.6;
    cursor: pointer;
}

.card-laureate a {
	color: rgb(253, 59, 76);
	text-decoration: none;
}

.card-laureate a:hover {
	opacity: 0.5;
}

.card-desc{
	color: gray;
	border: 1px solid lightgray;
	background-color: rgba(232,231,233,0.92);
	padding: 5px;
	margin: 15px;
	font-weight: bolder;
	border-radius: 10px;
	bottom: 0;
}
.card-desc ul {
	padding-inline-start: 30px;
}
.linkedin {
	background-image: url('../../../resources/pictures/linkedin.png');
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	display: block;
	margin-left: auto;
}

.linkedin:hover {
	opacity: 0.5;
	cursor: pointer;
}

.value {
	float: right;
	margin-right: 10px;
}

.rating {
	border: 1px solid lightgray;
	background-color: white;
	border-radius: 10px;
	opacity: 0.8;
	padding: 10px;
	margin-right: 20px;
	overflow: auto;
	height: 75px;

}

.quotes {
	float: left;
	background-image: url('../../../resources/pictures/Laureates/quotes.png');
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin-top: 20px;
	margin-right: 10px;
	opacity: 0.6;
}

.list-recommendations{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.list-recommendations > hr{
	width: 100%;
}

.recommendation{
	display: flex;
	flex-direction: row;
	/*    background-color: chocolate;*/
	margin: 20px;
	width: 45%;
	max-height: 250px;
	border-left: 3px solid cornflowerblue;
}


.left-border{
	height: 300px;
	width: 4px;
	background-color: cornflowerblue;
}

.image-and-infos{
	margin-left: 2px;
	width: 35%;
	display: flex;
	flex-direction: column;
	/*    background-color: cornsilk;*/
}


.opinion{
	padding: 15px /*0px 5px 5px 5px*/;
	margin-left: 2px;
	width: 60%;
	background-color: #f7fef0;
	border: 1px solid gray;
	border-radius: 6px;
	word-wrap: break-word;
	font-family: "Sitka Display", serif;
	font-size: 20px;
	overflow: auto;
	height: 200px;
}


q {
	quotes: "\201C""\201D""\2018""\2019";
	margin: 3px;
}

.opinion > p{
	padding-left: 6px;
	border-left: 3px solid rgb(253, 59, 76);
}

q:before {
	color: #ccc;
	content: open-quote;
	font-family: "Times New Roman", serif;
	font-size: 1.6em;
	font-weight: bold;
	margin-right: 0.25em;

}

q:after{
	color: #ccc;
	content: close-quote;
	font-family: "Times New Roman", serif;
	font-size: 1.6em;
	font-weight: bold;
	margin-right: 0.25em;
	vertical-align: -0.3em;
}


.image-person{
	display: flex;
	height: 75%;
	justify-content: center;
	align-items: center;
}

.image-person > img{
 	border-radius: 100%;
	width: 90%;
	height: 80%;
	border: 1px solid darkgrey;

}

.infos{
	height: 25%;
	display: flex;
	flex-direction: column;
	padding: 5px 0 0 0;
	font-family: "Sitka Display", serif;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.top-img {
	width: 50px;
	height: 50px;
	padding-top: 10px;
}

.titles-laureates{
	text-align: center;
}

.promotions-style{
	padding: 10px;
	margin: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-image: url('../../../resources/pictures/pattern.png');
	background-repeat: repeat-y;
}

.laureate-icons {
	margin-bottom: 30px;
}

.l-img:hover {
	opacity: 0.6;
	cursor: pointer;
}

.titles-laureates{
	text-align: center;

}

@media screen and (max-width: 1000px) {
	.recommendation{
		width: 90%;
	}
}

@media screen and (max-width: 310px) {
	.list-recommendations{
		margin-left: -70px;
	}
}

@media screen and (max-width: 700px){

	.card-laureate {
		display: block;
		background-repeat: repeat;
	}

	.card-laureate .description {
		width: 100%;
		padding: 10px;
		animation-name: zoom;
		animation-duration: 0.6s;
	}

	.quotes {
		display: none;
	}

	.card-laureate img {
		width: 25%;
		height: 100px;
		border-radius: 10px;
	}

	.card-laureate .element {
		color: white;
		display: block;
		margin-left: 30%;
		max-width: 50%;
		font-size: 25px;
		font-weight: bolder;
		margin-top: -80px;
	}

	.value{
		margin-left: 5px;
		float: none;
	}
	.card-laureate .item-element {
		max-width: 75%;
	}

	.linkedin {
		margin-right: 15px;
	}

}


@media only screen and (max-width: 700px) {
	.promotions-style{
		background-image: none;
	}
}

@media screen and (max-width: 700px){

	.recommendation{
		display: flex;
		flex-direction: column;
		min-height: 450px;
		min-width: 450px;
		width: 40%;
		border: none;
		margin-right: auto;
		margin-left: auto;
	}
	.image-and-infos {
		height: 45%;
		width: 100%;
	}
	.image-person{
		margin: auto;
		min-height: 130px;
		max-height: 190px;
		min-width: 160px;
		max-width: 160px;
		width: 20%;
	}
	.opinion{
		margin-right: auto;
		margin-left: auto;
		width: 60%;
		word-wrap: break-word;
		text-align: justify;
	}
	.infos{
		padding: 3px 0 0 3px;
		min-width: 190px;
		width: 100%;
		text-align: center;
	}
	.name{
		width: 100%;
	}

	.society{
		width: 100%;
	}
	.card-laureate .element {
		font-size: 20px;
	}

	.card-desc{
		width: fit-content;
	}

	.details >*{
		text-align: left;
	}
}

@media screen and (max-width: 450px) {
	.recommendation {
		min-width: 300px;
	}
}



