body { 
	display:block; 
	margin:auto; 
}
.card-laureate {
	width: 100%;
	display: flex;
	border: 1px solid lightgray;
	margin-bottom: 10px;
	background-image: url('../../../resources/pictures/Laureates/bg-card.jpg');
	background-repeat: no-repeat;
	opacity: 0.4;
}

.card-laureate:hover {
	opacity: 0.9;
}

.card-laureate > div {
	display: block;
}

.card-laureate img {
	width: 30%;
	height: 270px;
	margin-left: 10px;
	border-radius: 10px;
}

.card-laureate .description {
	width: 70%;
	padding: 10px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.card-laureate .item-description {
	width: 100%;
	padding: 10px;
}

.card-laureate .element {
	color: white;
	margin-left: 20px;
	max-width: 100%;
	font-size: 40px;
	font-weight: bolder;
}

.card-laureate .item-element {
	color: white;
	margin-left: 20px;
	max-width: 100%;
	font-size: 30px;
	font-weight: bold;
}

.card-laureate .element:hover, .card-laureate .item-element:hover {
    opacity: 0.6;
    cursor: pointer;
}

.card-laureate a {
	color: rgb(253, 59, 76);
	text-decoration: none;
}

.card-laureate a:hover {
	opacity: 0.5;
}

.card-desc{
	color: gray;
	border: 1px solid lightgray;
	background-color: rgba(232,231,233,0.92);
	padding: 5px;
	margin: 15px;
	font-weight: bolder;
	border-radius: 10px;
	bottom: 0;
}

.linkedin {
	background-image: url('../../../resources/pictures/linkedin.png');
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	float: right;
	margin-right: 10px;
}

.linkedin:hover {
	opacity: 0.5;
	cursor: pointer;
}

.value {
	float: right;
	margin-right: 10px;
}

.rating {
	border: 1px solid lightgray;
	background-color: white;
	border-radius: 10px;
	opacity: 0.8;
	padding: 10px;
	margin-left: -20px;
	margin-right: 20px;
	overflow: scroll;
	height: 75px;

}

.quotes {
	float: left;
	background-image: url('../../../resources/pictures/Laureates/quotes.png');
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
	margin-top: 20px;
	margin-right: 10px;
	opacity: 0.6;
}


.list-recommendations{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.recommendation{
	display: flex;
	flex-direction: row;
	/*    background-color: chocolate;*/
	margin: 20px;
	width: 45%;
	max-height: 300px;
}


.left-border{
	height: 300px;
	width: 4px;
	background-color: cornflowerblue;
}

.image-and-infos{
	margin-left: 2px;
	width: 40%;
	display: flex;
	flex-direction: column;
	/*    background-color: cornsilk;*/
}


.opinion{
	padding: 15px /*0px 5px 5px 5px*/;
	margin-left: 2px;
	width: 59%;
	background-color: #f7fef0;
	border: 1px solid gray;
	border-radius: 6px;
	word-wrap: break-word;
	font-family: "Sitka Display", serif;
	font-size: 20px;

}


q {
	quotes: "\201C""\201D""\2018""\2019";
	margin: 3px;
}

.opinion > p{
	padding-left: 6px;
	border-left: 3px solid crimson;
}

q:before {
	color: #ccc;
	content: open-quote;
	font-family: "Times New Roman", serif;
	font-size: 1.6em;
	font-weight: bold;
	margin-right: 0.25em;

}

q:after{
	color: #ccc;
	content: close-quote;
	font-family: "Times New Roman", serif;
	font-size: 1.6em;
	font-weight: bold;
	margin-right: 0.25em;
	vertical-align: -0.3em;
}


.image-person{
	display: flex;
	height: 75%;
	justify-content: center;
	align-items: center;
}

.image-person > img{
 	border-radius: 100%;
	width: 90%;
	height: 90%;
	border: 1px solid darkgrey;

}

.infos{
	height: 25%;
	display: flex;
	flex-direction: column;
	padding: 5px 0px 0px 0px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	/*    background-color: cyan;*/
}

.name{

	/*    background-color: seagreen;*/
}

.society{

	/*    background-color: darkred;*/
}


@media screen and (max-width: 970px){

	.recommendation{
		display: flex;
		flex-direction: column;
		min-height: 600px;
		width: 40%;
	}

	.left-border{
		display: none;
	}

	.image-and-infos {
		height: 45%;
		width: 100%;
	}

	.image{
		margin: auto;
		min-height: 130px;
		max-height: 190px;
		width: 80%;
	}

	.opinion{
		margin-top: 5px;
		height: 55%;
		width: 96%;
		word-wrap: break-word;
	}

	.infos{
		padding: 3px 0px 0px 3px;
		min-width: 250px;
		width: 100%;
		text-align: left;
	}

	.name{
		width: 100%;
	}

	.society{
		width: 100%;
	}

}
